<p>Ask your coach anything:</p>

<form class="form-inline form-group" action="/answer" method="get">
  <input class="form-control" type="text" name="question">
  <button class="btn btn-primary" type="submit">ask!</button>
</form>

