// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.bold {
  font-weight: bold;
}

.background-yellow {
  background-color: #FFFEE1;
}

.border-gray-left {
  border-left: 8px #DDDDDD solid;
}
